header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(19, 25, 33);
  color: white;
  padding: 0 1rem;
}

.header-link {
  display: inline-block;
  padding: .5rem;
  border-radius: .25rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
}

.header-link:hover {
  border: 1px solid white;
}

.left-section img {
  width: 6.25rem;
}

.middle-section {
  flex: 1;
  max-width: 50rem;
  margin: 0 1rem;
  display: flex;
}

.middle-section input {
  flex: 1;
  width: 0;
  font-size: 1rem;
  height: 2.375;
  padding-left: 1rem;
  border: none;
  border-radius: .25rem 0 0 .25rem;
}

.middle-section button {
  background-color: rgb(254, 189, 105);
  border-radius: 0 .25rem .25rem 0;
  border: none;
  flex-shrink: 0;
  height: 2.5rem;
}

.middle-section img {
  height: 75%;
}

.right-section {
  width: 10rem;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.order-link {
  color: white;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-link img {
  height: 2.5rem;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 1rem;
  font-weight: 700;

  position: absolute;
  top: .7rem;
  left: 1.9rem;

  width: 1.5rem;
  text-align: center;
}

main {
  margin-top: 3.75rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.product-container {
  padding: 1.5rem;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem;
  margin-bottom: 1rem;
}

.product-image-container img {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 2.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: .5rem;
}

.product-rating-star {
  width: 6rem;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: .25rem;
}

.product-price {
  font-weight: 700;
}

.add-to-cart-button {
  width: 100%;
  padding: .5rem;
  border-radius: 1rem;
  margin: .5rem 0;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: .5rem;
  opacity: 0;
}

.added-to-cart-visible {
  opacity: 1;
}

.added-to-cart img {
  height: 1rem;
}