header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 1rem;
  height: 3.75rem;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  width: 100%;
  max-width: 67rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section {
  width: 10rem;
}

.logo {
  width: 6.25rem;
  margin-top: 1rem;
}

.logo-mobile {
  display: none;
}

.middle-section {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
  justify-content: center;
}

.return-to-home-link {
  color: rgb(0, 113, 133);
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
}

.right-section {
  text-align: right;
  width: 9.5rem;
}

main {
  max-width: 67rem;
  padding: 0 2rem;
  margin: 10rem auto;
}

.page-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 20rem;
  column-gap: 1rem;
  align-items: start;
}

.cart-item-container, .payment-summary {
  border: 1px solid rgb(222, 222, 222);
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.delivery-date {
  color: rgb(0, 118, 0);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: 6.25rem 1fr 1fr;
  column-gap: 1.5rem;
}

.product-image {
  max-width: 100%;
  max-height: 7.5rem;
  margin: 0 auto;
}

.product-name {
  font-weight: 700;
  margin-bottom: .5rem;
}

.product-price {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: .25rem;
}

.product-quantity .link-primary {
  margin-left: .25rem;
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.delivery-option {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  cursor: pointer;
  margin-bottom: .75rem;
}

.delivery-option-input {
  cursor: pointer;
}

.delivery-option-date {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: .25rem;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 1rem;
}

.payment-summary-title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1rem;
  margin: .5rem 0;
}

.payment-summary-money {
  text-align: right;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
  padding-top: .5rem;
}

.total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 1rem;

  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 1rem;
}

.place-order-button {
  width: 100%;
  padding: .5rem 0;
  border-radius: .5rem;
  margin: 1rem auto;
}

.quantity-input {
  width: 2rem;
  display: none;
}

.save-quantity-link {
  display: none;
}

.is-editing-quantity .quantity-input,
.is-editing-quantity .save-quantity-link {
  display: initial;
}

.is-editing-quantity .quantity-label {
  display: none;
}

.is-editing-quantity .update-quantity-link {
  display: none;
}

@media (max-width: 575px) {
  .left-section {
    width: auto;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
  }

  .middle-section {
    margin-right: .5rem;
  }
}

@media (max-width: 1000px) {
  .middle-section {
    font-size: 1rem;
    margin-right: 4rem;
  }

  .return-to-home-link {
    font-size: 1rem;
  }

  .right-section {
    width: auto;
  }

  main {
    max-width: 32rem;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
  }

  .payment-summary {
    grid-row: 1;
  }

  .cart-item-details-grid {
    grid-template-columns: 6rem 1fr;
    row-gap: 2rem;
  }

  .delivery-options {
    grid-column: 1 / 2 span;
  }
}

